<div class="relative rounded">
  <button *ngIf="readingList" (click)="delete()" type="button" class="text-tertiary absolute right-0 top-0 bg-danger text-white
  rounded-xl px-2 py-1 m-1 text-md z-30">
    <fa-icon [icon]="faTrash"></fa-icon> </button>
  <div [routerLink]="['/book', book.book.ISBN]"
    class="flex flex-col justify-center items-center xl:h-48 xl:w-44 h-40 w-28 relative rounded cursor-pointer">
    <img [src]="book.book.cover" [alt]="book.book.title" class="w-full h-full rounded-sm">
    <div *ngIf="!readingList"
      class="absolute h-full w-full bg-transparent flex items-start justify-center opacity-0 hover:opacity-100 duration-500">
      <h6 class="text-tertiary text-center font-bold uppercase p-2">
        {{book.book.author.name}} ({{book.book.year}})
      </h6>
    </div>
    <h6 class="text-white w-full text-center font-bold uppercase absolute bottom-0 bg-tertiary text-xs xl:text-sm rounded">
      {{book.book.title}}
    </h6>
  </div>
</div>
