<div class="flex w-11/12 2xl:w-6/12 mx-auto my-2 2xl:my-20 justify-center items-start  bg-secondary rounded" @appear>
  <img [src]="book.book.cover" alt="cover" class="xl:w-60 w-40 p-2 pt-12">
  <div class="text-tertiary px-4">
    <p class="xl:text-2xl md:text-xl text-center"> {{book.book.author.name}} ({{book.book.year}})
    </p>

    <div class="bg-tertiary text-white px-4 py-2 my-4 rounded">
      <h2 class="text-center xl:text-5xl md:text-3xl text-xl uppercase font-bold my-4">{{book.book.title}}</h2>
      <p class="text-justify md:text-xl xl:text-2xl my-2 ">{{book.book.synopsis}}</p>
    </div>
    <p class="xl:text-2xl md:text-xl text-right mb-2 flex justify-between"><span>
        Páginas: {{book.book.pages}}
      </span> Género: {{book.book.genre}}</p>
    <p *ngIf="book.book.author.otherBooks.length" class="mt-4 xl:text-2xl md:text-xl">Otras obras del autor:</p>
    <p *ngFor="let item of book.book.author.otherBooks" class="xl:text-2xl md:text-xl ml-4">• {{item}}</p>

    <div class="w-100 justify-center xl:justify-end flex">
      <button class="btn xl:text-md text-sm" (click)="addBook()" type="button">
        Agregar a la Lista de Lectura</button>
    </div>
  </div>
</div>
