@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #04394e;
    --color-secondary: #00875e;
    --color-tertiary: #f56217;
    --color-transparent: #3e3742dc;
    /* ... */
  }

  html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
