@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-primary: #f9fafa;
    --color-secondary: rgba(201, 216, 221, 0.937);
    --color-tertiary: #3d7697;
    --color-transparent: rgba(175, 213, 233, 0.774);
    /* ... */
  }

  html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
